body {
    font-family: Arial;
    color: white;
}



/*---------------------------PAGE--------------------*/
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: #111;
}

.right {
    right: 0;
    background-color: red;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 200px;
    border-radius: 50%;
  }

    a {
      text-decoration: none;
      display: inline-block;
      padding: 10px 19px;
  }

  
/*-------------------BUTTONS-----------------------------*/
  .btn {
      border: none;
      background-color: inherit;
      padding: 10px 20px;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
  }

  .default1 {
    color: white;
}

.default1:hover {

    color: red;
}

.default2 {
  color: white;
}

.default2:hover {

  color: black;
}

.bottomright {
  background-color: #1F1F11;
    color: white;
    position: absolute;
    bottom: 50px;
    right: 16px;
    font-size: 18px;
}



/*----------------------------- MODAL-----------------------------------*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: white;
    float:right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 5px;
    background-color:black;
    color: white;
}

.modal-body {
    padding: 15px 20px;
    color:black;
}


}
